@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #F2C6AC, #F2B263);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(200, 147, 83, 0.804);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #F28907;
    text-align: center;
    text-shadow: 1px 1px 2px #bb6906e8;
}
h2 {
    color: #115D8C;
}
p {
    text-align: justify;
}